<h2><%= @list.name %></h2>
<% @list.bookmarks.each do |bookmark| %>
<li>Movie:<%= bookmark.movie.title %></li>
<p>Comment:<%= bookmark.comment %></p>
<% end %>
<div><%= link_to "Add a movie!", new_list_bookmark_path(@list.id) %></div>
<div><%= link_to "Back to homepage", root_path %></div>

<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
